@media (max-width: 512px){
    .navigation{
        flex-wrap: wrap;
        
    }
    .btns{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        gap: 10px;
    }
    .form-box.active{
        width: 90%;
    }

    .section .square{
        display: none;
    }
    .navigation .btnRegistro-popup,
    .navigation .btnLogin-popup{
        margin: 0 0 0 0;
    }
    header{
        padding: 10px 0;
    }
    .logo{
        width: 100%;
    }
}


